*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
.header-section{
	 
	 background-image:url('../images/back.jpg'); 
	 
	 
}

.header-row1{
	 display:flex;
	 justify-content:space-between;
	 align-items: center;
}
.header-row1 h2{
	  color: #fff;
}
.list-content{
	 width: 60%;
    display: flex;
     justify-content: space-between;
}.header-section a{
	 text-decoration:none;
	 font-size:20px;
	 color: #fff;
}
.btn{
	 width: 111px;
     border: 2px solid #ffc451;
     height: 50px;
     text-align: center;
     padding: 8px;

}
.header-row2{
	 width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: initial;
	padding:65px;

}.header-row2 p{
     font-size: 22px;
    line-height: 3;
	 color: #fff;
	
}
.header-row2 h1{
	 color: #fff;
	 font-weight: 900;
}

.header-colomuns{
	 
     border: 3px solid rgba(255, 255, 255, 0.3);
     text-align: center;
     padding: 26px;
	 
}
.header-colomuns i{
     font-size: 35px;
     font-weight: 800;
	 color: #ffc451;
}
.header-colomuns p{
	 font-size: 20px;
	 color: #fff;
     
}
/*services*/
.services-container{
	 width:85%;
	 margin:0 auto;
	 border:1px solid ;
}
.serivces-heading {
	 text-align:center;
	 padding:25px 0px;
}

.services-card{
	 border: 1px solid #ebebeb;
	 text-align:center;
	 padding:30px;
	 
}
.services-icon{
	 margin:0 auto;
	 width:50px;
	 border:1px solid;
	 background: #ffc451;
	 
}
.services-icon i{
	 font-size:30px;
}
.services-card h5{
	 padding:10px;
}
